@import '../../variables';
.add_to_cart__counter {
    // font-family:courier,arial,helvetica;
    display: inline-flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    border-radius: 2px;
    background-color: #304ffe;
    align-self: flex-start;
    align-items: center;
    height: auto;
    border: 1px solid #304ffe;
    justify-self: center;

    .decrement_button {
        color: white;
        line-height: 18px;
        font-size: 16px;
        font-weight: 700;
        padding: 4px 6px;
        cursor: pointer;
    }
    .increment_button {
        color: white;
        line-height: 18px;
        font-size: 16px;
        padding: 4px 6px;
        font-weight: 700;
        cursor: pointer;
    }
    .cart_item_count {

        background-color: white;
        padding: 6px 6px;
        // font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: bolder;
        color: #304ffe;


    }
    .empty_item {

        background-color: white;
        padding: 6px 6px;
        // font-family: 'Open Sans', sans-serif;
        color: #304ffe;
        cursor: pointer;
        font-size: 14px;


    }
}