.unavailable_container {
    width: 100%;
    height: 100%;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .warning_icon {
        width: 60px;
        height: 60px;
        position: relative;

        @media (min-width: 1200px){
            width: 70px;
            height: 70px;
        }
    }
    .inner_container {
        margin-bottom: 200px;
        text-align: center;

        @media (min-width: 992px){
            margin-bottom: 300px;
        }

        .title {
            font-size: 1.71428571rem;

            @media (min-width: 992px){
                font-size: 2rem;
            }
        
        }
        .description {
            font-size: 15px;

            @media (min-width: 992px){
                font-size: 17px;
            }
        }
    }
}
