@import '../variables.scss';

.comment_wrapper {
    margin-top: 15px;
    .comment_imp {
        padding-left: 0px !important;

        @media (min-width: 700px){
            padding-left: 10px !important;
        }

        .avatar_imp {
            width: 3em !important;
            height: 3em !important;

            @media (min-width: 700px){
                width: 3.5em !important;
                height: 3.5em !important;
            }

            .avatar_img {
                border-radius: 0.5rem !important;
            }
        }
        .content_imp {
            margin-left: 4em !important;
            @media (min-width: 700px){
                margin-left: 4.3em !important;
            }

            .reply_span {
                cursor: pointer;

                &:hover {
                    color:map-get($map: $colors, $key: theme);
                }
            }
            // .ant-rate.ant-rate-disabled {
            //     font-size: 12px !important;
            //     display: block;

            //     @media (min-width: 700px){
            //         font-size: 14px !important;
            //     }
            // }
            .date_span {
                font-size: 10px;

                @media (min-width: 700px){
                    font-size: 12px;
                }
            }
        }
    }
}