@import '../variables';
.container {
    margin: 30px 0;

    .post_list_container {
        margin-bottom: 40px;


        .cards {
            // justify-content: center !important;
            font: inherit;
            width: 100%;
            margin: 0 !important;
            .post_item {
                width: 100%;

                @media (min-width: 992px){
                    width: 294px;
                }
                @media (min-width: 1200px){
                    width: 360px;
                }
                @media (min-width: 1400px){
                    width: 394px;
                }
                @media (min-width: 1600px){
                    width: 426px;
                }

                
                .head {
                    font-size: 18px;
                    font-weight: bold;

                    @media (min-width: 992px){
                        font-size: 22px;
                    }
                }
                .name {
                    color: map-get($map: $colors, $key: theme);
                }

                .image_container {
                    width: 100%;
                    opacity: 1;
                    transition: opacity 0.2s ease-in-out;
                    @media (min-width: 992px){
                        width: 294px;
                    }
                    @media (min-width: 1200px){
                        width: 360px;
                    }
                    @media (min-width: 1400px){
                        width: 394px;
                    }
                    @media (min-width: 1600px){
                        width: 426px;
                    }

                    &:hover {
                        opacity: 0.8;
                    }

                    img {
                        width: 100%;
                    }
                    
                }
                .placeholder {
                    width: 100%;
                    height: 180px;
                    max-width: 100% !important;

                    @media (min-width: 470px){
                        height: 200px;
                    }
                    @media (min-width: 560px){
                        height: 240px;
                    }
                    @media (min-width: 650px){
                        height: 280px;
                    }
                    @media (min-width: 700px){
                        height: 300px;
                    }
                    @media (min-width: 992px){
                        width: 294px;
                        height: 200px;
                    }
                    @media (min-width: 1200px){
                        width: 360px;
                        height: 220px;
                    }
                    @media (min-width: 1400px){
                        width: 394px;
                        height: 230px;
                    }
                    @media (min-width: 1600px){
                        width: 426px;
                    }
                }
            }

        }
        .loader {
            font-size: 30px !important;

            @media (min-width: 992px) {
                font-size: 40px !important;
            }

            &:before,
            &:after{
                width: 30px;
                height: 30px;

                @media (min-width: 992px){
                    width: 50px;
                    height: 50px;
                }
                
            }
        }   
    }
}

// TopPost 

.top_post_container {
    margin-bottom: 40px;

    .image_placeholder {
        width: 250px;
        height: 140px;

        @media (min-width: 360px){
            width: 280px;
            height: 158px;

        }
        @media (min-width: 992px){
            width: 320px;
            height: 180px;

        }
    }
    .no_data_placeholder {
        height: 210px;
        width: 100%;

        @media (min-width: 360px){
            height: 226px;
        }
        @media (min-width: 993px){
            height: 240px;
        }
    }

    .top_post_item {
        width: 250px;
        margin-right: 20px;
        height: 200px;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 0px;
        cursor: pointer;
        border-bottom-right-radius: 0px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

        &:last-of-type {
            margin-right: 0px;
        }
        @media (min-width: 360px){
            width: 280px;
            height: 216px;
        }
        @media (min-width: 992px){
            width: 320px;
            height: 230px;
        }

        &:hover {
            .top_item_title {
                background: #e6f7ff;
            }
        }
    }
    .image_container {
        width: 250px;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        overflow: hidden;
        opacity: 1;
        transition: opacity 0.2s ease-in-out;

        &:hover {
            opacity: 0.8;
        }

        @media (min-width: 360px){
            width: 280px;
        }
        @media (min-width: 992px){
            width: 320px;
        }


    }
    .top_item_title {
        background: white;
        transition: background 0.2s ease-in-out;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;    
        text-align: center;
        padding: 10px;
        height: 58px;
        font-size: 16px;
        font-weight: bold;
    }
}