@import '../variables';

.container {
    margin: 30px 0;

    @media (min-width: 992px){
        margin: 40px 0;
    }
    .header {
        margin-bottom: 30px;

        .title {
            color: lighten(map-get($colors, main), 25%);
        }
        .highlight {
            color: map-get($map: $colors, $key: theme);
        }
    }
    .image {
        // position: relative;
        // width: 840px;
        // height: 473px;
        margin-bottom: 30px;
    }
    .placeholder {
        width: 100%;
        height: 180px;
        max-width: 100% !important;

        @media (min-width: 450px){
            height: 220px;
        }
        @media (min-width: 540px){
            height: 250px;
        }
        @media (min-width: 600px){
            height: 280px;
        }
        @media (min-width: 650px){
            height: 320px;
        }
        @media (min-width: 700px){
            height: 340px;
        }
        @media (min-width: 750px){
            height: 380px;
        }
        @media (min-width: 993px){
            height: 480px;
        }
    }
    .body {
        font-size: 16px;

        @media (min-width: 992px){
            font-size: 18px;
        }
        // margin: 40px 0;
        li {
            margin-bottom: 20px;
        }
        pre {
            background: #e7e7e7;
            white-space: pre-wrap;
            overflow-x: auto;
            padding: 10px;
            border-radius: 4px;

            @media (min-width: 992px) {
                padding: 15px;
            }
        }
        figure {
            width: auto;
            height: auto;
            text-align: center;

            img {
                width: 100%;

                @media (min-width: 992px){
                    width: auto;
                    max-width: 100%;
                }
            }
        }
    }

}


// Comments List Components

.comments {

    max-width: 750px !important;

    .comment {
        margin-top: 15px !important;


        @media (min-width: 992px){
            margin-top: 20px !important;
        }
        &:first-child {
            margin-top: 0px !important;
        }

        .avatar {
            width: 50px !important;
            height: 50px !important;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            margin-right: 6px !important;

            @media (min-width: 992px) {
                margin-right: 12px !important;
            }
        }
        .reply_button, 
        .hide_button {
            cursor: pointer;
            color: map-get($map: $colors, $key: theme);
            margin-right: 20px;
            transition: color .1s ease-in-out;

            &:hover {
                
                color: lighten(map-get($colors, main), 30%);
            }
        }
        .replies_text {
            color:  #1a88ff;
            transition: color .1s ease-in-out;
            cursor: pointer;
            font-size: 12px;
            text-align: center;
            margin-right: 50px;

            @media (min-width: 992px){
                font-size: 14px;
            }

            i {
                margin-right: 5px;
            }

            &:hover {
                color: darken(#1a88ff, 20%);
            }
        }

    }
}

// Create Comment Component

.create_form_head {
    margin-bottom: 20px;

    @media (min-width: 992px) {
        margin-bottom: 40px;
    }
}
.comment_form {

    &.reply {
    padding-left: 6px !important;
    }
}
.comment_form > * {
    margin-bottom: 20px !important;

    &:last-child {
        margin-bottom: 0px !important;
    }
}

.form_action {
    text-align: right;
    margin-top: 10px;
}