@import '../variables';

.container {
    margin: 30px 0;

    @media (min-width: 992px){
        margin: 40px 0;
    }
    .header {
        margin-bottom: 30px;

        .title {
            color: lighten(map-get($colors, main), 25%);
        }
        .highlight {
            color: map-get($map: $colors, $key: theme);
        }
    }
    .image {
        // position: relative;
        // width: 1280px;
        // height: 720px;
        margin-bottom: 30px;
    }
    .body {
        font-size: 16px;

        @media (min-width: 992px){
            font-size: 18px;
        }
        // margin: 40px 0;
        li {
            margin-bottom: 20px;
        }

        figure {
            width: auto;
            height: auto;
            text-align: center;

            img {
                width: 100%;

                @media (min-width: 992px){
                    width: auto;
                }
            }
        }
    }

}


// Comments List Components

.comments {

    max-width: 750px !important;

    .comment {
        margin-top: 15px !important;


        @media (min-width: 992px){
            margin-top: 20px !important;
        }
        &:first-child {
            margin-top: 0px !important;
        }

        .avatar {
            width: 50px !important;
            height: 50px !important;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            margin-right: 6px !important;

            @media (min-width: 992px) {
                margin-right: 12px !important;
            }
        }
    }
}

// Create Comment Component

.create_form_head {
    margin-bottom: 20px;

    @media (min-width: 992px) {
        margin-bottom: 40px;
    }
}
.comment_form > * {
    margin-bottom: 20px !important;

    &:last-child {
        margin-bottom: 0px !important;
    }
}

.form_action {
    text-align: right;
    margin-top: 10px;
}