@import '../variables';

.container {
    margin: 30px 0;

    @media (min-width: 992px){
        margin: 40px 0;
    }
    .header {


        .title {
            color: lighten(map-get($colors, main), 25%);
        }
        .highlight {
            color: map-get($map: $colors, $key: theme);
        }
    }
    .image {
        // position: relative;
        // width: 1280px;
        // height: 720px;
    }
    .body {
        font-size: 16px;

        @media (min-width: 992px){
            font-size: 18px;
        }
        // margin: 40px 0;
        li {
            margin-bottom: 20px;
        }
    }

}