@import "../variables";
.modal_back {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.700);
    z-index: 1000;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    

}
        
.post_create_modal {
    background: white;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    right: 0px;
    width: 100%;
    z-index: 1001;
    transform: translateX(100%);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-out 0.2s, transform 0.5s ease-in-out;
    

    @media (min-width: 993px) {
        width: 900px;
        // right: -900px;
        transform: translateX(900px);
    }

    .modal_close {
        padding: 20px;
        display: flex;
        align-items: center;


        .modal_title {
            align-self: center;
            margin: 0px;
            margin-left: 30px;

        }
        
        .close_icon {
            font-size: 26px;
            cursor: pointer;
            color: black;
            margin-bottom: 2px;
            transition: color .1s ease-in-out;

            &:hover {
                color: lighten(map-get($colors, main), 20%);
            }
        }
    }
    .modal_content {
        width: 100%;
        padding: 0px 10px;


        @media (min-width: 400px) {
            padding: 10px 15px;
        }
        @media (min-width: 600px) {
            padding: 20px 20px;
        }
        @media (min-width: 700px) {
            padding: 30px 30px;
        }   
    }
}

// Create Form

.category_and_image {
    
}