@import "../variables";

.dropdown_main {
    background: white;
    height: 100%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    margin-right: 5px;
    flex-wrap: nowrap;
    padding: 3px;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    @media (min-width: 360px) {
        padding: 5px;
    }
    @media (min-width: 600px) {
        padding: 7px;
    }
    @media (min-width: 992px) {
        padding: 8px;
    }
    @media (min-width: 1200px) {
        padding: 10px;
    }
    
    .india_icon {
        width: 22px;
        margin-right: 5px;
        @media (min-width: 360px) {
            width: 24px;
            margin-right: 6px;
        }
        @media (min-width: 600px) {
            width: 26px;
            margin-right: 7px;
        }
        @media (min-width: 992px) {
            width: 28px;
            margin-right: 8px;
        }
        @media (min-width: 1200px) {
            width: 30px;
            margin-right: 9px;
        }
    }
    span {

        font: inherit;
        font-size: 12px;
        margin-top: 2px;
        margin-right: 5px;
        @media (min-width: 360px) {
            font-size: 13px;
            margin-right: 6px;
        }
        @media (min-width: 600px) {
            font-size: 14px;
            margin-right: 7px;
        }
        @media (min-width: 992px) {
            font-size: 15px;
            margin-right: 8px;
        }
        @media (min-width: 1200px) {
            font-size: 16px;
            margin-right: 9px;
        }
    }
    i {
        font-size: 12px;
        color: map-get($map: $text, $key: secondary);
        @media (min-width: 360px) {
            font-size: 13px;
        }
        @media (min-width: 600px) {
            font-size: 14px;
        }
        @media (min-width: 992px) {
            font-size: 15px;
        }
        @media (min-width: 1200px) {
            font-size: 16px;
        }
    }
    .dropdown_options {
        position: absolute;
        background: white;
        // height: 72px;
        max-height: 120px;
        overflow-y: auto;
        border-radius: 4px;
        top: 110%;
        width: 100%;
        left: 0;
        border: 1px solid #e0e0e0;
        display: none;

        &.active {
            display: block;
        }
    }
    .dropdown_item {
        padding: 10px;
        display: block;
        font-size: 12px;
        @media (min-width: 360px) {
            font-size: 13px;
        }
        @media (min-width: 600px) {
            font-size: 14px;
        }
        @media (min-width: 992px) {
            font-size: 15px;
        }
        @media (min-width: 1200px) {
            font-size: 16px;
        }
    }
}