@font-face {
    font-family: 'afzal-heavy';
    src: url('../corecare_fonts/Axiforma-Heavy.eot'); /* IE9 Compat Modes */
    src: url('../corecare_fonts/Axiforma-Heavy.eot?#iefix') format('embedded-opentype'), IE6-IE8
         url('../corecare_fonts/Axiforma-Heavy.woff2') format('woff2'), /* Super Modern Browsers */
         url('../corecare_fonts/Axiforma-Heavy.woff') format('woff'), /* Pretty Modern Browsers */
         url('../corecare_fonts/Axiforma-Heavy.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../corecare_fonts/Axiforma-Heavy.svg#afzal-heavy') format('svg'); /* Legacy iOS */
  }
  @font-face {
    font-family: 'afzal-extra-bold';
    src: url('../corecare_fonts/Axiforma-ExtraBold.eot'); /* IE9 Compat Modes */
    src: url('../corecare_fonts/Axiforma-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../corecare_fonts/Axiforma-ExtraBold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../corecare_fonts/Axiforma-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../corecare_fonts/Axiforma-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../corecare_fonts/Axiforma-ExtraBold.svg#afzal-extra-bold') format('svg'); /* Legacy iOS */
  }
  
  @font-face {
    font-family: 'afzal-medium';
    src: url('../corecare_fonts/Axiforma-Medium.eot'); /* IE9 Compat Modes */
    src: url('../corecare_fonts/Axiforma-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../corecare_fonts/Axiforma-Medium.woff2') format('woff2'), /* Super Modern Browsers */
         url('../corecare_fonts/Axiforma-Medium.woff') format('woff'), /* Pretty Modern Browsers */
         url('../corecare_fonts/Axiforma-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../corecare_fonts/Axiforma-Medium.svg#afzal-medium') format('svg'); /* Legacy iOS */
  }
  @font-face {
    font-family: 'afzal-regular';
    src: url('../corecare_fonts/Axiforma-Regular.eot'); /* IE9 Compat Modes */
    src: url('../corecare_fonts/Axiforma-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../corecare_fonts/Axiforma-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../corecare_fonts/Axiforma-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../corecare_fonts/Axiforma-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../corecare_fonts/Axiforma-Regular.svg#afzal-regular') format('svg'); /* Legacy iOS */
  }
  @font-face {
    font-family: 'afzal-light';
    src: url('../corecare_fonts/Axiforma-Light.eot'); /* IE9 Compat Modes */
    src: url('../corecare_fonts/Axiforma-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../corecare_fonts/Axiforma-Light.woff2') format('woff2'), /* Super Modern Browsers */
         url('../corecare_fonts/Axiforma-Light.woff') format('woff'), /* Pretty Modern Browsers */
         url('../corecare_fonts/Axiforma-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../corecare_fonts/Axiforma-Light.svg#afzal-light') format('svg'); /* Legacy iOS */
  }


  @font-face {
    font-family: 'afzal-heavy';
    src: url('../corecare_fonts/Axiforma-Heavy.woff2') format('woff2'), /* Super Modern Browsers */
         url('../corecare_fonts/Axiforma-Heavy.woff') format('woff'), /* Pretty Modern Browsers */
  }
  @font-face {
    font-family: 'afzal-extra-bold';
    src: url('../corecare_fonts/Axiforma-ExtraBold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../corecare_fonts/Axiforma-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
  }
  
  @font-face {
    font-family: 'afzal-medium';
    src: url('../corecare_fonts/Axiforma-Medium.woff2') format('woff2'), /* Super Modern Browsers */
         url('../corecare_fonts/Axiforma-Medium.woff') format('woff'), /* Pretty Modern Browsers */
  }
  @font-face {
    font-family: 'afzal-regular';
    src: url('../corecare_fonts/Axiforma-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../corecare_fonts/Axiforma-Regular.woff') format('woff'), /* Pretty Modern Browsers */
  }
  @font-face {
    font-family: 'afzal-light';
    src: url('../corecare_fonts/Axiforma-Light.woff2') format('woff2'), /* Super Modern Browsers */
         url('../corecare_fonts/Axiforma-Light.woff') format('woff'), /* Pretty Modern Browsers */
  }