@font-face {
  font-family: 'Axiforma';
  src: url("../corecare_fonts/axiforma-bold-webfont.woff2") format("woff2"), url("../corecare_fonts/axiforma-bold-webfont.woff") format("woff");
  font-display: swap;
  font-weight: 700;
}

/* @font-face {
  font-family: 'Axiforma';
  src: url("../corecare_fonts/axiforma-black-webfont.woff2") format("woff2"), url("../corecare_fonts/axiforma-black-webfont.woff") format("woff");
  font-display: swap;
  font-weight: 900;
} */

@font-face {
  font-family: 'Axiforma';
  src: url("../corecare_fonts/axiforma-semibold-webfont.woff2") format("woff2"), url("../corecare_fonts/axiforma-semibold-webfont.woff") format("woff");
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Axiforma';
  src: url("../corecare_fonts/axiforma-regular-webfont.woff2") format("woff2"), url("../corecare_fonts/axiforma-regular-webfont.woff") format("woff");
  font-display: swap;
  font-weight: 400;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Axiforma ,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
 Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: #f2f2f2;
}
#__next {
  height: 100%;
  display: flex;
  flex-direction: column;

}
@media (min-width: 993px) {
  html,
  body {
    font-size: 14px;
  }
}

/* h1.heavy {
  font-family: Axiforma ,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
 Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1.2;
}

@media (min-width: 600px) {
  h1.heavy {
    font-size: 2.6rem;
  }
}

@media (min-width: 700px) {
  h1.heavy {
    font-size: 2.8rem;
  }
}

@media (min-width: 993px) {
  h1.heavy {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  h1.heavy {
    font-size: 3.2rem;
  }
}

@media (min-width: 1400px) {
  h1.heavy {
    font-size: 3.4rem;
  }
}

@media (min-width: 1600px) {
  h1.heavy {
    font-size: 3.6rem;
  }
} */

h1, h2, h3, h4, h5, h6, a {
  /* margin: 0; */
  font-family: Axiforma ,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
 Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.2;
}

h1 {
  font-size: 1.6rem;
}

@media (min-width: 600px) {
  h1 {
    font-size: 1.7rem;
  }
}

@media (min-width: 700px) {
  h1 {
    font-size: 1.8rem;
  }
}

@media (min-width: 993px) {
  h1 {
    font-size: 1.9rem;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 2rem;
  }
}

@media (min-width: 1400px) {
  h1 {
    font-size: 2.1rem;
  }
}

@media (min-width: 1600px) {
  h1 {
    font-size: 2.2rem;
  }
}

h2 {
  font-size: 1.6rem;
}

@media (min-width: 993px) {
  h2 {
    font-size: 1.7rem;
  }
}

@media (min-width: 1200px) {
  h2 {
    font-size: 1.8rem;
  }
}

@media (min-width: 1400px) {
  h2 {
    font-size: 1.9rem;
  }
}

/* @media (min-width: 1600px) {
  h2 {
    font-size: 2rem;
  }
} */

h2, h1 {
  font-weight: 700;
}

h3 {
  font-size: 1.3rem;
  font-weight: 500;
}

@media (min-width: 600px) {
  h3 {
    font-size: 1.4rem;
  }
}

@media (min-width: 700px) {
  h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 993px) {
  h3 {
    font-size: 1.6rem;
  }
}

@media (min-width: 1200px) {
  h3 {
    font-size: 1.7rem;
  }
}



h4 {
  font-size: 1.2rem;
  font-weight: 400;
}

@media (min-width: 600px) {
  h4 {
    font-size: 1.2rem;
  }
}

@media (min-width: 700px) {
  h4 {
    font-size: 1.4rem;
  }
}

/* @media (min-width: 993px) {
  h4 {
    font-size: 1.9rem;
  }
} */

/* @media (min-width: 1200px) {
  h4 {
    font-size: 2rem;
  }
} */

/* @media (min-width: 1400px) {
  h4 {
    font-size: 2.1rem;
  }
} */

/* @media (min-width: 1600px) {
  h4 {
    font-size: 2.2rem;
  }
} */

h5 {
  font-size: 1.2rem;
  font-weight: 400;
}

@media (min-width: 600px) {
  h5 {
    font-size: 1.4rem;
  }
}

@media (min-width: 700px) {
  h5 {
    font-size: 1.6rem;
  }
}

@media (min-width: 993px) {
  h5 {
    font-size: 1.8rem;
  }
}

@media (min-width: 1200px) {
  h5 {
    font-size: 2rem;
  }
}

@media (min-width: 1400px) {
  h5 {
    font-size: 2.2rem;
  }
}

@media (min-width: 1600px) {
  h5 {
    font-size: 2.4rem;
  }
}

h6 {
  font-size: 1rem;
  font-weight: 300;
  margin: 0px !important;
}

@media (min-width: 600px) {
  h6 {
    font-size: 1.2rem;
  }
}

@media (min-width: 700px) {
  h6 {
    font-size: 1.4rem;
  }
}

@media (min-width: 1200px) {
  h6 {
    font-size: 1.6rem;
  }
}

@media (min-width: 1400px) {
  h6 {
    font-size: 1.8rem;
  }
}

@media (min-width: 1600px) {
  h6 {
    font-size: 2rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-bottom: 0px;
}




a {
  color: #4d85ff;
}

a:hover {
  color: #0048e6;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* container */
@media only screen and (min-width: 1400px) {
  .ui.container {
    width: 1227px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media only screen and (min-width: 1600px) {
  .ui.container {
    width: 1327px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media only screen and (min-width: 1800px) {
  .ui.container {
    width: 1377px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

/* Nav Bar Style */
.header {
  color: #ffffff;
  position: absolute;
  width: 100%;
  
  padding: 10px 0px;
}

.header.sticky {
  background-color: white !important;
  position: fixed;
  top: -75px;
  width: 100%;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: 0.2s -webkit-transform ease-in-out;
  transition: 0.2s -webkit-transform ease-in-out;
  transition: 0.2s transform ease-in-out;
  transition: 0.2s transform ease-in-out, 0.2s -webkit-transform ease-in-out;
  z-index: 1999;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.header.sticky .nav-link {
  text-decoration: none;
  color: #1a1a1a;
  font-weight: 500;
}

.header.sticky .nav-link:hover {
  color: gray;
}

.header.sticky .profile-box {
  background: #f2f2f2;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.header.animate {
  -webkit-transform: translateY(75px);
  transform: translateY(75px);
}

.navbar .nav-main {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}

.navbar .nav-item {
  margin-right: 40px;
}
.nav-item:not(.profile-box) {
  display: none;
}
@media (min-width: 992px) {
  .nav-item:not(.profile-box) {
    display: block;
  }
}
.navbar .nav-item:last-child {
  margin-right: 0px !important;
}

.navbar .nav-link {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 1.15rem;
  font-family: Axiforma ,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

.navbar .nav-link:hover {
  color: #cccccc;
}

/* Headere ProfileBox */
.backmodel {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.backmodel.active {
  opacity: 1;
}

.profile-box {
  background-color: #f2f2f2;
  border-radius: 50px;
  position: relative;
  background: white;
}

.profile-box .profile-box-item {
  padding: 2px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-column-gap: 10px;
  column-gap: 10px;
  cursor: pointer;
}

.profile-box .profile-box-item .notification {
  position: absolute;
  background-color: red;
  font-size: 12px;
  border-radius: 50%;
  top: 0;
  color: white;
  font-weight: 700;
}

.profile-box .profile-box-dropdown {
  background-color: white;
  position: fixed;
  overflow-y: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 300px;
  right: -302px;
  top: 0;
  z-index: 101;
  opacity: 0;
  -webkit-transition: opacity 0.4s, right 0.3s ease-out;
  transition: opacity 0.4s, right 0.3s ease-out;
}

.profile-box .profile-box-dropdown .nav-back-btn {
  color: #383838;
  float: right;
  -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0 10px 10px;
}

.profile-box .profile-box-dropdown .nav-back-btn i {
  margin-right: 15px;
  cursor: pointer;
  font-weight: 300;
  font-size: 20px;
}

.profile-box .profile-box-dropdown .nav-back-btn i:hover {
  color: gray !important;
}

.profile-box .profile-box-dropdown .nav-back-btn .close-text {
  font-size: 20px;
  font-weight: 400;
  margin-top: 4px;
}

.profile-box .profile-box-dropdown .nav-welcome-mssg {
  color: #383838;
  padding: 18px 8px 8px 40px;
  font-weight: 700;
  font-size: 16px;
}

@media (min-width: 992px) {
  .profile-box .profile-box-dropdown .nav-welcome-mssg {
    padding: 8px 8px 8px 22px;
  }
}

.profile-box .profile-box-dropdown.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  right: 0;
}

.profile-box .profile-box-dropdown .drop-down-link {
  color: #525252;
  text-align: left;
  padding: 15px 0px;
  padding-left: 40px;
  font-size: 16px;
  white-space: nowrap;
}

.profile-box .profile-box-dropdown .drop-down-link:hover {
  background-color: #f2f2f2;
}

@media (min-width: 992px) {
  .profile-box .profile-box-dropdown .drop-down-link {
    padding: 12px 140px 12px 22px;
  }
}

@media (min-width: 992px) {
  .profile-box .profile-box-dropdown {
    border-radius: 5px;
    right: 0;
    top: 54px;
    padding: 10px 0;
    height: auto;
    width: auto;
    position: absolute;
    display: none;
    opacity: 1;
  }
  .profile-box .profile-box-dropdown.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu-item {
  width: 18px;
  height: 2px;
  background-color: #1a1a1a;
  margin: 2px 0;
  border-radius: 10px;
}

.avatar {
  position: relative;
}

.avatar .avatar-image {
  margin-top: 2px;
  height: 30px;
  border-radius: 50%;
}
@media (min-width: 670px){
  .section__first {
    margin-top: 295px;
    margin-bottom: 20px;
  }
}
@media (min-width: 700px){
  .section__first {
    margin-top: 265px;
  }
}
@media (min-width: 750px){
  .section__first {
    margin-top: 280px;
  }
}
@media (min-width: 992px){
  .section__first {
    margin-top: 165px;
  }
}
@media (min-width: 1199px){
  .section__first {
    margin-top: 100px;
  }
}
@media (min-width: 1203px){
  .section__first {
    margin-top: 90px;
  }
}
@media (min-width: 1400px){
  .section__first {
    margin-top: 10px;
  }
}
.section__wrapper {
  background-color: white;
  margin-bottom: 20px;
}

.section_divider {
padding: 10px 0px !important;

}

.company-name {
  color: #ff385c;
}
.author {
  font-weight: bolder;
}
.item-header {
  display: flex;
  align-items: center;

}
.review-profile {
  border-radius: 5px;
}   


/* Footer */

.footer-container {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 992px) {
  .footer-container {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    padding: 40px 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-column-gap: 60px;
            column-gap: 60px;
  }
}

.footer-container .footer-col__1 {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 0;
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (min-width: 992px) {
  .footer-container .footer-col__1 {
    padding: 0px;
  }
}

.footer-container .footer-col__1 .social-link {
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

.footer-container .footer-col__1 .social-link:first-child {
  margin: 0px;
}

.footer-container .footer-col__1 .social-link i {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer-container .footer-col__1 .social-link i:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #FF385C;
}

.footer-container .footer-col__2 {
  margin-top: 20px;
}

@media (min-width: 700px) {
  .footer-container .footer-col__2 {
    margin-top: 0px;
  }
}

.footer-container .footer-col__2 .col-header {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 15px;
}

.footer-container .footer-col__2 .col-header h3 {
  color: white;
  font-weight: bolder;
}

.footer-container .footer-col__2 .col-Container .footer-item-col__2 {
  color: white;
  font-size: 16px;
}

.footer-container .footer-col__2 .col-Container .footer-item-col__2:hover {
  color: #FF385C;
}

.footer-container .footer-bottom {
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#footer > div > div.site-statistic-demo-card {
  width: 100% !important;
  height: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

@media (min-width: 700px) {
  #footer > div > div.site-statistic-demo-card {
    width: 50% !important;
    height: 50% !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0px;
  }
}

#footer > div > div.site-statistic-demo-card #footer > div.site-statistic-demo-card .ant-row {
  width: 100% !important;
  height: 100% !important;
}

.footer-end {
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
}
/*# sourceMappingURL=footer.css.map */


/* Footer col */
.footer-col__2 {
  width: 100%;
  margin-top: 0px !important;
}

@media (min-width: 700px) {
  .footer-col__2 {
    width: auto;
    margin-top: 5px !important;
  }
}
#footer {
  width: 100%;
  text-align: center;
  background-color: black;
  padding: 10px;
  color: white;
  margin-top: auto !important;
}
.footer-col__2 .col-header {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #7F7F7F;
  margin-bottom: 0px !important;
}

@media (min-width: 700px) {
  .footer-col__2 .col-header {
    margin-bottom: 15px !important;
    border: none;
  }
}

.footer-col__2 .col-header h3 {
  margin: 0;
}

@media (min-width: 700px) {
  .footer-col__2 .col-header h3 {
    margin-bottom: 10px;
  }
}

.footer-col__2 .col-header .accordian__icon {
  margin-left: 20px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

@media (min-width: 700px) {
  .footer-col__2 .col-header {
    padding: 0;
    display: block;
  }
}


/* Draft.js style*/

/* div.DraftEditor-root {
  box-shadow: 0 0 0 0 transparent inset;
  border: 1px solid rgba(34,36,38,.15);
  background: #fff;
  line-height: 1.21428571em;
  padding: .67857143em 1em;
  padding-bottom: 0px;
  height: 300px;
  font-size: 1.4rem;
  color: rgba(0,0,0,.87);
  border-radius: .28571429rem;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-transition: color .1s ease,border-color .1s ease;
  transition: color .1s ease,border-color .1s ease;
  font-family: Axiforma ,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  font-size: 1.4rem;

}
div.DraftEditor-root:focus-within {
    color: rgba(0,0,0,.95);
    border-color: #85b7d9;
    border-radius: .28571429rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: #fff;
    -webkit-box-shadow: 0 0 0 0 rgb(34 36 38 / 35%) inset;
    box-shadow: 0 0 0 0 rgb(34 36 38 / 35%) inset;
    font-size: 1.4rem;
}
div.DraftEditor-editorContainer {
  height: 100%;
}
div.notranslate .public-DraftEditor-content {
  height: 100%;
}





div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 100%;
}
.draft-codeblock {
  margin: 0;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New !important;
  font-size: 14px !important;
}

.draft-blockquote {
  border-left: 6px solid #FF385C;
  margin-left: 0;
  padding-left: 22px;
  font-style: italic;
}
.public-DraftStyleDefault-pre {
  word-wrap: normal;
  margin-top: 0;
  margin-bottom: 1.5rem;
  background: #eff0f1;
  padding: 12px;
  border-radius: 5px;
  overflow: auto;
  
} */


/* CKEDITOR Settings */
.ck .ck-editor__main {
  height: 200px;
}


.ck.ck-button.ck-on:not(.ck-disabled):hover, a.ck.ck-button.ck-on:not(.ck-disabled):hover {
  background: #1a1a1a !important;
}
@media (min-width: 321px){
  .ck .ck-editor__main {
    height: 250px;
  }
}
@media (min-width: 400px){
  .ck .ck-editor__main {
    height: 300px;
  }
}
@media (min-width: 375px) and (min-height: 812px){
  .ck .ck-editor__main {
    height: 380px;
  }
}
@media (min-width: 375px) and (min-height: 812px){
  .ck .ck-editor__main {
    height: 380px;
  }
}
@media (min-width: 768px) and (min-height: 1024px){
  .ck .ck-editor__main {
    height: 450px;
  }
}

@media (min-width: 993px){
  .ck .ck-editor__main {
    height: 400px;
  }
}
@media (min-width: 1024px) and (min-height: 1366px){
  .ck .ck-editor__main {
    height: 550px;
  }
} 
.ck .ck-editor__main > div {
  height: 100%;
}
.ui.search.dropdown .menu {
  max-height: 8.68571429rem;
}

@media (min-width: 992px) {
  .ui.search.dropdown .menu {
    max-height: 10.68571429rem;
  }
  
}
.ui.fullscreen.modal {
  width: auto !important;
  height: auto !important;
  max-height: 95%;
  max-width: 95%;
  margin: 0;

  left: auto !important;
}
/* .public-DraftStyleDefault-pre  div {
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New !important;

}
.public-DraftStyleDefault-pre span {
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New !important;

} */
/*# sourceMappingURL=footerCol.css.map */
