@font-face {
  font-family: 'Axiforma';
  src: url("../corecare_fonts/axiforma-bold-webfont.woff2") format("woff2"), url("../corecare_fonts/axiforma-bold-webfont.woff") format("woff");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'Axiforma';
  src: url("../corecare_fonts/axiforma-black-webfont.woff2") format("woff2"), url("../corecare_fonts/axiforma-black-webfont.woff") format("woff");
  font-display: swap;
  font-weight: 900;
}

@font-face {
  font-family: 'Axiforma';
  src: url("../corecare_fonts/axiforma-semibold-webfont.woff2") format("woff2"), url("../corecare_fonts/axiforma-semibold-webfont.woff") format("woff");
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Axiforma';
  src: url("../corecare_fonts/axiforma-regular-webfont.woff2") format("woff2"), url("../corecare_fonts/axiforma-regular-webfont.woff") format("woff");
  font-display: swap;
  font-weight: 400;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Axiforma ,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
 Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: #f2f2f2;
}

@media (min-width: 993px) {
  html,
  body {
    font-size: 14px;
  }
}

h1.heavy {
  font-family: Axiforma ,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
 Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1.2;
}

@media (min-width: 600px) {
  h1.heavy {
    font-size: 2.6rem;
  }
}

@media (min-width: 700px) {
  h1.heavy {
    font-size: 2.8rem;
  }
}

@media (min-width: 993px) {
  h1.heavy {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  h1.heavy {
    font-size: 3.2rem;
  }
}

@media (min-width: 1400px) {
  h1.heavy {
    font-size: 3.4rem;
  }
}

@media (min-width: 1600px) {
  h1.heavy {
    font-size: 3.6rem;
  }
}

h1, h2, h3, h4, h5, h6, span, a {
  margin: 0;
  font-family: Axiforma ,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
 Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.2;
}

h1 {
  font-size: 2rem;
}

@media (min-width: 600px) {
  h1 {
    font-size: 2.2rem;
  }
}

@media (min-width: 700px) {
  h1 {
    font-size: 2.4rem;
  }
}

@media (min-width: 993px) {
  h1 {
    font-size: 2.6rem;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 2.8rem;
  }
}

@media (min-width: 1400px) {
  h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1600px) {
  h1 {
    font-size: 3.2rem;
  }
}

h2 {
  font-size: 1.8rem;
}

@media (min-width: 600px) {
  h2 {
    font-size: 2rem;
  }
}

@media (min-width: 700px) {
  h2 {
    font-size: 2.2rem;
  }
}

@media (min-width: 993px) {
  h2 {
    font-size: 2.4rem;
  }
}

@media (min-width: 1200px) {
  h2 {
    font-size: 2.6rem;
  }
}

@media (min-width: 1400px) {
  h2 {
    font-size: 2.8rem;
  }
}

@media (min-width: 1600px) {
  h2 {
    font-size: 3rem;
  }
}

h2, h1 {
  font-weight: 700;
}

h3 {
  font-size: 1.6rem;
  font-weight: 500;
}

@media (min-width: 600px) {
  h3 {
    font-size: 1.8rem;
  }
}

@media (min-width: 700px) {
  h3 {
    font-size: 2rem;
  }
}

@media (min-width: 993px) {
  h3 {
    font-size: 2.2rem;
  }
}

@media (min-width: 1200px) {
  h3 {
    font-size: 2.4rem;
  }
}

@media (min-width: 1400px) {
  h3 {
    font-size: 2.6rem;
  }
}

@media (min-width: 1600px) {
  h3 {
    font-size: 2.8rem;
  }
}

h4 {
  font-size: 1.6rem;
  font-weight: 400;
}

@media (min-width: 600px) {
  h4 {
    font-size: 1.7rem;
  }
}

@media (min-width: 700px) {
  h4 {
    font-size: 1.8rem;
  }
}

/* @media (min-width: 993px) {
  h4 {
    font-size: 1.9rem;
  }
} */

/* @media (min-width: 1200px) {
  h4 {
    font-size: 2rem;
  }
} */

/* @media (min-width: 1400px) {
  h4 {
    font-size: 2.1rem;
  }
} */

/* @media (min-width: 1600px) {
  h4 {
    font-size: 2.2rem;
  }
} */

h5 {
  font-size: 1.2rem;
  font-weight: 400;
}

@media (min-width: 600px) {
  h5 {
    font-size: 1.4rem;
  }
}

@media (min-width: 700px) {
  h5 {
    font-size: 1.6rem;
  }
}

@media (min-width: 993px) {
  h5 {
    font-size: 1.8rem;
  }
}

@media (min-width: 1200px) {
  h5 {
    font-size: 2rem;
  }
}

@media (min-width: 1400px) {
  h5 {
    font-size: 2.2rem;
  }
}

@media (min-width: 1600px) {
  h5 {
    font-size: 2.4rem;
  }
}

h6 {
  font-size: 1rem;
  font-weight: 300;
}

@media (min-width: 600px) {
  h6 {
    font-size: 1.2rem;
  }
}

@media (min-width: 700px) {
  h6 {
    font-size: 1.4rem;
  }
}

@media (min-width: 1200px) {
  h6 {
    font-size: 1.6rem;
  }
}

@media (min-width: 1400px) {
  h6 {
    font-size: 1.8rem;
  }
}

@media (min-width: 1600px) {
  h6 {
    font-size: 2rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-bottom: 0px;
}

span {
  font-size: 12px;
  font-weight: 400;
  color: #737373;
}

@media (min-width: 993px) {
  span {
    font-size: 14px;
  }
}

a {
  color: #4d85ff;
}

a:hover {
  color: #0048e6;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* container */
@media only screen and (min-width: 1400px) {
  .ui.container {
    width: 1227px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media only screen and (min-width: 1600px) {
  .ui.container {
    width: 1327px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media only screen and (min-width: 1800px) {
  .ui.container {
    width: 1377px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

/* Nav Bar Style */
.header {
  color: #ffffff;
  position: absolute;
  width: 100%;
  background-color: transparent;
  padding: 10px 0px;
}

.header.sticky {
  background-color: white !important;
  position: fixed;
  top: -75px;
  width: 100%;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: 0.2s -webkit-transform ease-in-out;
  transition: 0.2s -webkit-transform ease-in-out;
  transition: 0.2s transform ease-in-out;
  transition: 0.2s transform ease-in-out, 0.2s -webkit-transform ease-in-out;
  z-index: 1999;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.navbar.sticky .nav-link {
  text-decoration: none;
  color: #1a1a1a;
  font-weight: 500;
}

.navbar.sticky .nav-link:hover {
  color: gray;
}

.navbar.sticky .profile-box {
  background: #f2f2f2;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.navbar.animate {
  -webkit-transform: translateY(75px);
  transform: translateY(75px);
}

.navbar .nav-main {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}

.navbar .nav-item {
  margin-right: 40px;
}

.navbar .nav-item:last-child {
  margin-right: 0px !important;
}

.navbar .nav-link {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.05rem;
}

.navbar .nav-link:hover {
  color: #f2f2f2;
}

/* Headere ProfileBox */
.backmodel {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.backmodel.active {
  opacity: 1;
}

.profile-box {
  background-color: #f2f2f2;
  border-radius: 50px;
  position: relative;
  background: white;
}

.profile-box .profile-box-item {
  padding: 2px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-column-gap: 10px;
  column-gap: 10px;
  cursor: pointer;
}

.profile-box .profile-box-item .notification {
  position: absolute;
  background-color: red;
  font-size: 12px;
  border-radius: 50%;
  padding: 2px 2px;
  top: 0;
  right: 0;
}

.profile-box .profile-box-dropdown {
  background-color: white;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 300px;
  right: -302px;
  top: 0;
  z-index: 101;
  opacity: 0;
  -webkit-transition: opacity 0.4s, right 0.3s ease-out;
  transition: opacity 0.4s, right 0.3s ease-out;
}

.profile-box .profile-box-dropdown .nav-back-btn {
  color: #383838;
  float: right;
  -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0 10px 10px;
}

.profile-box .profile-box-dropdown .nav-back-btn i {
  margin-right: 15px;
  cursor: pointer;
  font-weight: 300;
  font-size: 20px;
}

.profile-box .profile-box-dropdown .nav-back-btn i:hover {
  color: gray !important;
}

.profile-box .profile-box-dropdown .nav-back-btn .close-text {
  font-size: 20px;
  font-weight: 400;
  margin-top: 4px;
}

.profile-box .profile-box-dropdown .nav-welcome-mssg {
  color: #383838;
  padding: 8px 8px 8px 42px;
}

@media (min-width: 992px) {
  .profile-box .profile-box-dropdown .nav-welcome-mssg {
    padding: 8px 8px 8px 22px;
  }
}

.profile-box .profile-box-dropdown.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  right: 0;
}

.profile-box .profile-box-dropdown .drop-down-link {
  color: #525252;
  text-align: left;
  padding: 15px 0px;
  padding-left: 40px;
  font-size: 16px;
}

.profile-box .profile-box-dropdown .drop-down-link:hover {
  background-color: #f2f2f2;
}

@media (min-width: 992px) {
  .profile-box .profile-box-dropdown .drop-down-link {
    padding: 12px 140px 12px 22px;
  }
}

@media (min-width: 992px) {
  .profile-box .profile-box-dropdown {
    border-radius: 5px;
    right: 0;
    top: 56px;
    padding: 10px 0;
    height: auto;
    width: auto;
    position: absolute;
    display: none;
    opacity: 1;
  }
  .profile-box .profile-box-dropdown.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu-item {
  width: 18px;
  height: 2px;
  background-color: #1a1a1a;
  margin: 2px 0;
  border-radius: 10px;
}

.avatar {
  position: relative;
}

.avatar .avatar-image {
  margin-top: 2px;
  height: 30px;
  border-radius: 50%;
}
@media (min-width: 670px){
  .section__first {
    margin-top: 295px;
    margin-bottom: 20px;
  }
}
@media (min-width: 700px){
  .section__first {
    margin-top: 265px;
  }
}
@media (min-width: 750px){
  .section__first {
    margin-top: 280px;
  }
}
@media (min-width: 992px){
  .section__first {
    margin-top: 165px;
  }
}
@media (min-width: 1199px){
  .section__first {
    margin-top: 100px;
  }
}
@media (min-width: 1203px){
  .section__first {
    margin-top: 90px;
  }
}
@media (min-width: 1400px){
  .section__first {
    margin-top: 10px;
  }
}
.section__wrapper {
  background-color: white;
  margin-bottom: 20px;
}

.section_divider {
padding: 10px 0px !important;

}
